{
  "presets": [
    [
      "env",
      {
        "spec": true,
        "modules": false,
        "targets": { "node": 6 }
      },
    ],
  ],
  "plugins": [
    "external-helpers",
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    ["transform-react-jsx", { "pragma": "h" }],
    "istanbul"
  ]
}
