sudo: false
language: node_js

notifications:
  email: false

cache:
  yarn: true
  directories:
    - node_modules

node_js:
  - '8'
  - '6'

os: linux

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.0.1
  - export PATH=$HOME/.yarn/bin:$PATH

script:
  - yarn hela
  - yarn test

after_success:
  - ./cli.js release
  - bash <(curl -s https://codecov.io/bash)

branches:
  except:
    - /^v\d+\.\d+\.\d+$/
